@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    background-color: var(--color-surface);
    color: var(--color-text);
  }

  body {
    @apply antialiased;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      sans-serif;
  }
}
