{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": true,
        "importSource": "react",
        "development": false
      },
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "externalHelpers": true,
    "loose": false
  },
  "module": {
    "type": "es6",
    "noInterop": false
  },
  "sourceMaps": true,
  "exclude": [
    "jest.config.[ct]s",
    "src/**/*.spec.[jt]sx?$",
    "src/**/*.test.[jt]sx?$",
    "./src/jest-setup.[jt]s$",
    "**/node_modules/**"
  ]
}
